$tablet: 768px;
$mont: 'Montserrat', sans-serif;

.block {
  display: block;
  padding-top: 50px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: 375px) {
    width: 375px;
  }

  @media (min-width: $tablet) {

  }
}

.block_top_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  @media (min-width: 375px) {
    width: 90%;
    margin: 0 auto 8px;
    justify-content: space-between;
  }
}

.block_avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #D82B7D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & img {
    border-radius: 50%;
    border: 2px solid #fff;
  }

  @media (min-width: 375px) {
    width: 80px;
    height: 80px;
  }
}

.block_counters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.counter_info {
  margin-left: 4px;
  margin-right: 4px;
}

.counter_top {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  font-family: $mont;
}

.counter_bot {
  font-size: 11px;
  line-height: 13px;
  font-family: $mont;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 22px;
  width: 304px;

  @media (min-width: 375px) {
    width: 338px;
  }
}

.block_username {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: $mont;
}

.block_profession {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.42);
  font-family: $mont;
}

.user_gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 27px;

  &.active {
    pointer-events: none;
  }
}

.user_photo_wrap {
  width: 106px;
  height: 128px;
  cursor: pointer;
  margin-bottom: 2px;

  & img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 375px) {
    width: 123px;
    height: 144px;
  }
}


.block_link {
  width: 125px;
  height: 50px;
  margin: 0 auto;
  background: #6557FD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all .3s ease;

  &:hover {
    color: rgb(101, 255, 42);
  }

  &:focus {
    color: #fff;
  }
  &:active {
    color: #fff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.emodzi_box {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1.5);
}

.emodzi {
  position: absolute;
  left: 0;
  bottom: -200px;
}

@keyframes emodzi {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: translateY(-280px);
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-280px);
  }
}

.emodzi:nth-child(1) {
  animation: emodzi 2s ease-in forwards;
  bottom: -100px;
  left: 100px;
}

.emodzi:nth-child(2) {
  animation: emodzi 2.3s ease-in forwards;
  bottom: -120px;
  left: 200px;
}

.emodzi:nth-child(3) {
  animation: emodzi 2.4s ease-in forwards;
  bottom: -160px;
  left: 120px;
}

.emodzi:nth-child(4) {
  animation: emodzi 1.9s ease-in forwards;
  bottom: -110px;
  left: 130px;
}

.emodzi:nth-child(5) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -130px;
  left: 140px;
}

.emodzi:nth-child(6) {
  animation: emodzi 2.8s ease-in forwards;
  bottom: -200px;
  left: 22px;
}

.emodzi:nth-child(7) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -170px;
  left: 90px;
}

.emodzi:nth-child(8) {
  animation: emodzi 2.6s ease-in forwards;
  bottom: -180px;
  left: 190px;
}

.emodzi:nth-child(9) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -130px;
  left: 11px;
}

.emodzi:nth-child(10) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -130px;
  left: 220px;
}

.emodzi:nth-child(11) {
  animation: emodzi 1.9s ease-in forwards;
  bottom: -110px;
  left: 50px;
}

.emodzi:nth-child(12) {
  animation: emodzi 2.2s ease-in forwards;
  bottom: -145px;
  left: 260px;
}

.emodzi:nth-child(13) {
  animation: emodzi 2.4s ease-in forwards;
  bottom: -165px;
  left: 280px;
}

.emodzi:nth-child(14) {
  animation: emodzi 2.7s ease-in forwards;
  bottom: -190px;
  left: 210px;
}

.emodzi:nth-child(15) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -170px;
  left: 280px;
}

.emodzi:nth-child(16) {
  animation: emodzi 2.7s ease-in forwards;
  bottom: -190px;
  left: 150px;
}

.emodzi:nth-child(17) {
  animation: emodzi 2.3s ease-in forwards;
  bottom: -150px;
  left: 130px;
}

.emodzi:nth-child(18) {
  animation: emodzi 2.6s ease-in forwards;
  bottom: -180px;
  left: 160px;
}

.emodzi:nth-child(19) {
  animation: emodzi 2s ease-in forwards;
  bottom: -120px;
  left: 190px;
}

.emodzi:nth-child(20) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -175px;
  left: 265px;
}

.emodzi:nth-child(21) {
  animation: emodzi 2.3s ease-in forwards;
  bottom: -150px;
  left: 100px;
}

.emodzi:nth-child(22) {
  animation: emodzi 2.8s ease-in forwards;
  bottom: -200px;
  left: 40px;
}

.emodzi:nth-child(23) {
  animation: emodzi 2.2s ease-in forwards;
  bottom: -140px;
  left: 66px;
}

.emodzi:nth-child(24) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -170px;
  left: 70px;
}

.emodzi:nth-child(25) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -130px;
  left: 180px;
}

.emodzi:nth-child(26) {
  animation: emodzi 2.6s ease-in forwards;
  bottom: -210px;
  left: 270px;
}

.emodzi:nth-child(27) {
  animation: emodzi 2.6s ease-in forwards;
  bottom: -240px;
  left: 200px;
}

.emodzi:nth-child(28) {
  animation: emodzi 2.7s ease-in forwards;
  bottom: -210px;
  left: 10px;
}

.emodzi:nth-child(29) {
  animation: emodzi 1.7s ease-in forwards;
  bottom: -220px;
  left: 150px;
}

.emodzi:nth-child(30) {
  animation: emodzi 2s ease-in forwards;
  bottom: -190px;
  left: 190px;
}

.emodzi:nth-child(31) {
  animation: emodzi 1.7s ease-in forwards;
  bottom: -110px;
  left: 180px;
}

.emodzi:nth-child(32) {
  animation: emodzi 3s ease-in forwards;
  bottom: -150px;
  left: 230px;
}

.emodzi:nth-child(33) {
  animation: emodzi 2.8s ease-in forwards;
  bottom: -140px;
  left: 190px;
}

.emodzi:nth-child(34) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -70px;
  left: 40px;
}

.emodzi:nth-child(35) {
  animation: emodzi 2.2s ease-in forwards;
  bottom: -120px;
  left: 60px;
}

.emodzi:nth-child(36) {
  animation: emodzi 2.7s ease-in forwards;
  bottom: -200px;
  left: 90px;
}

.emodzi:nth-child(37) {
  animation: emodzi 2.3s ease-in forwards;
  bottom: -150px;
  left: 280px;
}

.emodzi:nth-child(38) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -160px;
  left: 260px;
}

.emodzi:nth-child(39) {
  animation: emodzi 2.2s ease-in forwards;
  bottom: -110px;
  left: 140px;
}

.emodzi:nth-child(40) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -100px;
  left: 20px;
}

.emodzi:nth-child(41) {
  animation: emodzi 2s ease-in forwards;
  bottom: -80px;
  left: 200px;
}

.emodzi:nth-child(42) {
  animation: emodzi 2.3s ease-in forwards;
  bottom: -60px;
  left: 80px;
}

.emodzi:nth-child(43) {
  animation: emodzi 1.5s ease-in forwards;
  bottom: -100px;
  left: 140px;
}

.emodzi:nth-child(44) {
  animation: emodzi 2s ease-in forwards;
  bottom: -125px;
  left: 70px;
}

.emodzi:nth-child(45) {
  animation: emodzi 2.1s ease-in forwards;
  bottom: -145px;
  left: 210px;
}

.emodzi:nth-child(46) {
  animation: emodzi 2s ease-in forwards;
  bottom: -125px;
  left: 70px;
}

.emodzi:nth-child(47) {
  animation: emodzi 2.6s ease-in forwards;
  bottom: -160px;
  left: 170px;
}

.emodzi:nth-child(48) {
  animation: emodzi 2.4s ease-in forwards;
  bottom: -111px;
  left: 280px;
}

.emodzi:nth-child(49) {
  animation: emodzi 2.5s ease-in forwards;
  bottom: -170px;
  left: 175px;
}

.emodzi:nth-child(50) {
  animation: emodzi 2.8s ease-in forwards;
  bottom: -190px;
  left: 240px;
}




